@import "./variables";
.footer {
    background-color: $light-hf-bg;
    color: $light-text-color;
    padding: 20px;
  
    &.dark-mode {
      background-color: $dark-hf-card-bg;
      color: $dark-text-color;
    }

    .footer-logo {
      width: 150px;
      height: auto;
      margin-bottom: 10px; 
    }
  
    a {
      color: $light-primary-color;
      text-decoration: none;
  
      &:hover {
        text-decoration: underline;
      }
  
      &.dark-mode {
        color: $dark-primary-color;
      }
    }
  }
  
  