// Variables
$light-bg-image: url('../img/christmas2.webp'); 
$light-bg-color: #fdfdfb; 
$light-text-color: #1a1a1a; 
$light-primary-color: #d32f2f; 
$light-secondary-color: #388e3c; 
$box-hover-color-light: #f8d7da; 

// Dark Mode Variables
$dark-bg-image: url('../img/darkchristmas.webp'); 
$dark-bg-color: #121212; 
$dark-text-color: #f8f9fa; 
$dark-primary-color: #e53935; 
$dark-secondary-color: #43a047; 
$box-hover-color-dark: #2e2e2e; 
